// Variables
@import "variables";

// Mixins
@import "mixins";

// Template Selector Control
@import "modules/template-selector";

// Range Control
@import "modules/range";

// Background Control
@import "modules/background";








#sub-accordion-section-loginly__section--styles {
	
	.customize-control-image {
		position: relative;
		margin-bottom: 15px;
	
		.placeholder {
			display: none;
		}

		button:not(.control-focus):not(.remove-button) {
			width: 100%;
			border: 1px dashed $border-color;
			box-shadow: none;
			border-radius: 0;
			padding: 5px 0;
			background: transparent;

			&:hover {
				color: $blue;
			}

			&:active {
				transform: translateY(0);
			}
		}
	}
}