.customize-control-login-designer-title {
	// transition: margin 200ms cubic-bezier(0.19, 1, 0.22, 1);
	margin-top: 15px;
	// &,

	&.is-active {
		margin-top: 0 !important;
	}

	&#customize-control-login_designer_title_form_field_text {
		margin-top: 15px;
	}

	&#customize-control-login_designer_title_logo {
		margin-top: 0;
	}

	& + .customize-control-image {
		margin-top: -7px;
	}

	.customize-control-title {
		font-weight: 600 !important;
	}

	.customize-control-description {
	}
}

// .accordion-section-content li.customize-control:nth-child(2) {
// 	margin-top: 0;
// }
