// Variables.
@import "variables";

// Color Controls.
@import "modules/color-control";

// Checkbox.
@import "modules/checkbox";


// 50/50, Small text input fields
#customize-control-login_designer_form_label_username_text,
#customize-control-login_designer_form_label_password_text {
	position: relative;
	margin-bottom: 6px;

	.customize-control-title {
		width: 50%;
		margin-bottom: 0;
		position: relative;
	}

	input {
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		margin: 0;
		border-radius: 5px;
	}

}












#customize-control-login_designer_custom_logo,
#customize-control-login_designer_bg_image {

	.customize-control-title {
		display: none;
	}
}

// Image uploader control mods.
#sub-accordion-section-login_designer__section--styles {

	.customize-control-title {
		font-weight: 500;
	}
}

// Image uploader control mods.
#sub-accordion-section-login_designer__section--styles,
#sub-accordion-section-login_designer__section--background,
#sub-accordion-section-login_designer__section--settings {

	.customize-control-background-image {

		.actions {

			button.remove-button {
				margin-bottom: 18px;
			}

			button {
				width: 49.3%;
				margin-top: 3px;
			}
		}

		.thumbnail {
			border-radius: 3px;
			max-height: 70px;
		}

		img {
			width: 100%;
			transform: translate3d(0, -40%, 0);
		}
	}

	.customize-control-image {
		position: relative;
		margin-bottom: 15px;

		.placeholder {
			display: none;
		}

		button:not(.control-focus):not(.remove-button) {
			background: transparent;
			// border-radius: 6px;
			border-radius: 0;
			border: 1px dashed $border-color;
			box-shadow: none;
			color: #555d66;
			font-size: 14px;
			margin-top: 1px;
			padding: 7px 0;
			transition: border-color 200ms cubic-bezier(0.19, 1, 0.22, 1), color 200ms cubic-bezier(0.19, 1, 0.22, 1);
			width: 100%;

			&:hover {
				border-color: $blue;
				color: $blue;
			}

			&:active {
				transform: translateY(0);
			}
		}

		.button.upload-button.control-focus {
			margin-left: -8px;
		}
	}
}

/* Customizer Select */
#sub-accordion-section-login_designer__section--styles,
#sub-accordion-section-login_designer__section--background {

	.customize-control-select {
		position: relative;

		label::after {
				font: 400 11px/72px dashicons;
				content: "\f341";
				position: absolute;
				right: 5px;
				top: -23px;
				transform: rotate(-90deg);
		}

		.customize-control-title {
			width: 50%;
			margin-bottom: 0;
			position: relative;
		}

		select {
			width: 50%;
			position: absolute;
			box-shadow: none;
			top: 0;
			right: 0;
			margin: 0;
			background: #f6f6f6;
			padding: 0;
			line-height: 22px;
			height: 26px;
			appearance: none;
			color: #555d66;
			padding-left: 7px;
			cursor: pointer;
			font-weight: normal;
			font-size: 13px;
			border-radius: 5px;
			transition: border-color $range--opacity-speed $range--opacity-cubic, background $range--opacity-speed $range--opacity-cubic;

			&:hover {
				border-color: #bbb;
				background: #f9f9f9;
			}

			select::-ms-expand {
				display: none;
			}

			option {
				text-align: right;
			}
		}
	}

	.background-image-fields {

		&:not(.hidden) {
			border-bottom: 1px solid #ddd;
			padding-bottom: 18px;
			margin-bottom: 3px;
		}

		li {
			position: relative;
			margin-bottom: 8px;
		}
	}
}
