// Variables.
@import "variables";

.customize-control-wp-gravatar-logo-range {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;

	.relative {
		position: relative;
	}

	.notice {
		padding: 8px 12px;
		border-radius: 2px;
	}

	&:hover {
		label {
			opacity: 0;
		}

		.track,
		.range-reset {
			opacity: 1;
		}
	}

	label {
		display: block;
		margin-right: 55px;
		user-select: none;
		transition: opacity $range--opacity-speed $range--opacity-cubic;
	}

	span {
		margin: 0;
	}

	.track {
		background: $border-color;
		left: 23px;
		opacity: 0;
		padding: 5px 0;
		position: absolute;
		right: 65px;
		top: 50%;
		transform: translatey(-50%);
		transition: opacity $range--opacity-speed $range--opacity-cubic;
		width: 74%;
	}

	.value {
		font-size: 14px;
		position: absolute;
		right: 0;
		text-align: right;
		top: -3px;
		transform: translate3d(0, 0, 0);
		width: 65px;


		input[type=number] {
			background: none;
			border: none;
			box-shadow: 0 0 0;
			color: $gray;
			display: inline-block;
			line-height: 14px;
			padding: 2px 0;
			position: relative;
			text-align: right;
			width: 25px;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				appearance: none;
				margin: 0;
			}

			&:hover {
				color: $blue;
			}
		}

		span {
			display: none;
		}

		em {
			cursor: default;
			display: inline-block;
			font-style: normal;
		}
	}

	.range-reset {
		cursor: pointer;
		height: 19px;
		left: -4px;
		opacity: 0;
		position: absolute;
		top: 3px;
		transition: opacity $range--opacity-speed $range--opacity-cubic;
		width: 19px;

		&::after {
			content: "\f335";
			cursor: pointer;
			font: 100 20px/1 dashicons;
			left: 0;
			position: relative;
			top: -1px;
			z-index: 999;
		}
	}

	input[type=range] {
		appearance: none;
		margin: 0 0;
		padding: 0;

		&:focus {
			outline: none;
		}

		&::-webkit-slider-runnable-track {
			animate: 0.2s;
			background: $border-color;
			border-radius: 1px;
			border: 0 solid $border-color;
			box-shadow: 0 0 0 $border-color;
			cursor: pointer;
			height: 2px;
			width: 100%;
		}

		&:focus::-webkit-slider-runnable-track {
			background: $border-color;
		}

		&::-webkit-slider-thumb {
			appearance: none;
			background: $white;
			border-radius: 50px;
			border: 1px solid $border-color;
			box-shadow: 0 1px 2px rgba(0,0,0,.1);
			box-shadow: 0 0 0 $border-color;
			cursor: pointer;
			height: 19px;
			margin-top: -9px;
			width: 19px;
		}

		&::-moz-range-thumb {
			background: $white;
			border-radius: 50px;
			border: 1px solid $border-color;
			box-shadow: 0 0 0 $border-color;
			cursor: pointer;
			height: 19px;
			width: 19px;
		}

		&::-moz-range-track {
			animate: 0.2s;
			background: $border-color;
			border-radius: 1px;
			border: 0 solid $border-color;
			box-shadow: 0 0 0 $border-color;
			cursor: pointer;
			height: 2px;
			width: 100%;
		}

		&::-ms-track {
			animate: 0.2s;
			background: transparent;
			border-color: transparent;
			color: transparent;
			cursor: pointer;
			height: 2px;
			width: 100%;
		}
		&::-ms-fill-lower {
			background: $border-color;
			border-radius: 2px;
			border: 0 solid $border-color;
			box-shadow: 0 0 0 $border-color;
		}
		&::-ms-fill-upper {
			background: $border-color;
			border-radius: 2px;
			border: 0 solid $border-color;
			box-shadow: 0 0 0 $border-color;
		}

		&::-ms-thumb {
			background: $white;
			border-radius: 50px;
			border: 1px solid $border-color;
			box-shadow: 0 0 0 $border-color;
			cursor: pointer;
			height: 17px;
			width: 17px;
		}

		&:focus::-ms-fill-lower {
			background: $border-color;
		}

		&:focus::-ms-fill-upper {
			background: $border-color;
		}
	}
}
