.customize-control-login-designer-title {
	margin-top: 15px;

	&.is-active {
		margin-top: 0 !important;
	}

	&#customize-control-login_designer_title_form_field_text {
		margin-top: 15px !important;
	}

	& + .customize-control-image {
		margin-top: -7px;
	}

	.customize-control-title {
		font-weight: 600 !important;
	}
}
