// Variables.
@import "variables";

// Checkbox.
@import "modules/checkbox";

// Color Controls.
@import "modules/colors";

// Image.
@import "modules/image";

// Reset.
@import "modules/reset";

// Upgrade.
@import "modules/upgrade";

#accordion-section-login_designer__section--styles {
	display: none !important;
}

// Title spacing.
// #customize-control-login_designer-bg_color,
// #customize-control-login_designer-disable_logo,
// #customize-control-login_designer-form_shadow_opacity,
// #customize-control-login_designer-field_color,
// #customize-control-login_designer-label_color {
// 	margin-bottom: 40px;
// }

#customize-control-login_designer_admin-logo_url {
	margin-bottom: 25px;
}

#customize-control-login_designer-field_text_title,
#customize-control-login_designer-button_text_title {
	margin-top: 15px;
}

// 50/50, Small text input fields
#customize-control-login_designer[username_label],
#customize-control-login_designer[password_label] {
	position: relative;
	margin-bottom: 6px;

	.customize-control-title {
		width: 50%;
		margin-bottom: 0;
		position: relative;
	}

	input {
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		margin: 0;
		border-radius: 5px;
	}
}

/* Customizer Select */
#sub-accordion-section-login_designer__section--styles {

	.customize-control-dropdown-pages {
		position: relative;

		label {
			display: block;
		}

		label::after {
			font: 400 11px/11px dashicons;
			content: "\f341";
			position: absolute;
			right: 5px;
			bottom: 7px;
			transform: rotate(-90deg);
		}

		.description {
			margin-bottom: 15px;
		}

		select {
			box-shadow: none;
			margin: 0;
			background: #f6f6f6;
			padding: 0;
			line-height: 22px;
			height: 26px;
			appearance: none;
			color: #555d66;
			padding: 0;
			cursor: pointer;
			font-weight: normal;
			font-size: 13px;
			border-radius: 5px;
			transition: border-color $range--opacity-speed $range--opacity-cubic, background $range--opacity-speed $range--opacity-cubic;

			&:hover {
				border-color: #bbb;
				background: #f9f9f9;
			}

			select::-ms-expand {
				display: none;
			}

			option {
				text-align: right;
			}
		}
	}


	.customize-control-select {
		position: relative;

		label::after {
			font: 400 11px/11px dashicons;
			content: "\f341";
			position: absolute;
			right: 5px;
			top: 8px;
			transform: rotate(-90deg);
		}

		.customize-control-title {
			width: 50%;
			margin-bottom: 0;
			position: relative;
		}

		select {
			width: 50%;
			position: absolute;
			box-shadow: none;
			top: 0;
			right: 0;
			margin: 0;
			background: #f6f6f6;
			padding: 0;
			line-height: 22px;
			height: 26px;
			appearance: none;
			color: #555d66;
			padding-left: 7px;
			cursor: pointer;
			font-weight: normal;
			font-size: 13px;
			border-radius: 5px;
			transition: border-color $range--opacity-speed $range--opacity-cubic, background $range--opacity-speed $range--opacity-cubic;

			&:hover {
				border-color: #bbb;
				background: #f9f9f9;
			}

			select::-ms-expand {
				display: none;
			}

			option {
				text-align: right;
			}
		}
	}
}
