.customize-control-login-designer-title {
	// margin-top: 20px;
	margin-bottom: 2px;

	.customize-control-title {
		font-weight: 600 !important;
	}
}

.accordion-section-content li.customize-control:nth-child(2) {
	margin-top: 0;
}
