// Variables.
@import "variables";

.customize-control-login-designer-gallery .customize-control-description {
	display: none;
}

#customize-control-login_designer_bg_image {
	overflow-y: hidden;
	transition: all 300ms;
	max-height: 160px;
	// transform: scale(1) translate3d(0, 0, 0);

	&.gallery-is-open {
		margin: 0 !important;
		max-height: 0;
		// transform: scale(0) translate3d(0, 0, 0);
	}

	.button.upload-button.control-focus {
		display: none;
	}

	.button.remove-button {
		position: absolute;
		top: 8px;
		right: 8px;
		margin: 0 !important;
		height: 30px !important;
		width: 30px !important;
		border: 2px solid #fff;
		border-radius: 100%;
		color: #0085ba !important;
		background: #0085ba !important;
		box-shadow: 0 2px 1px rgba(46, 68, 83, .15);

		&:hover {
			background: #008ec2 !important;
		}

		&::after {
			font: 400 19px/72px dashicons;
			content: "\f335";
			position: absolute;
			right: 3px;
			color: #fff;
			top: -23px;
			transform: rotate(-90deg);
		}
	}
}


#customize-control-login_designer_bg_image_gallery {

	&.gallery-is-open {
		margin-top: -13px !important;
	}
}

#gallery-button {
	transition: all 200ms;
	margin-top: -10px;
	margin-bottom: 10px;

	.gallery-is-open & {
		margin-top: 9px;
		margin-bottom: 10px;
	}
}

#login-designer-gallery {
	overflow-y: hidden;
	max-height: 0;
	transition: all 300ms ease 100ms;
	padding-top: 5px;

	&.open {
		max-height: 140px;
	}
}


.gallery__item {
	float: left;
	width: 20%;
}

.gallery {
	margin-left: -3px;
	width: calc( 100% + 6px );
}

.checkbox {
	display: none !important;
}

.gallery--intrinsic {
	overflow: hidden;
	line-height: 0;
	margin-bottom: 0;
	position: relative;
	display: block;
	border: 2px solid #eee;
	border-radius: 2px;
	transition: box-shadow 150ms ease;
	box-shadow: 0 0 0 0 #5b9dd9, 0 0 0 0 rgba(30, 140, 190, .8);
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 4px;

	@media screen and (min-width: 1667px) {
		margin-right: 3px;
		margin-right: 3px;
		margin-bottom: 6px;
	}

	#login-designer-gallery.open .checkbox:checked + label & {
		box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
	}

	// .open .checkbox:checked + label & {
	// 	animation: portfolio_pro_likes_animation 300ms;
	// 	transform-origin: center;
	// }

	&:after {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

@keyframes portfolio_pro_likes_animation {
	0% {
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
  		transform: scale(1.05) translate3d(0, 0, 0);
	}
	100% {
		transform: scale(1) translate3d(0, 0, 0);
	};
}

.gallery--img {
	background-position: center center;
	background-repeat: no-repeat;
	bottom: 0;
	border-radius: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-size: cover;
}


.checkbox:checked + label .layout-screenshot {
	background-color: #fff;
}

.checkbox:checked + label {
	border-color: #0085ba;
}
