// Variables.
@import "variables";

.template-section-option {
	.customize-partial-edit-shortcut {
		transition: opacity 200ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1);
		opacity: 0;
		// visibility: hidden;
	}

	&:hover .customize-partial-edit-shortcut {
		transition: opacity 200ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1) 200ms;
		opacity: 1;
		// visibility: visible;
	}
}

// Partials.
.customize-partial--login-designer-settings {
	bottom: 42px !important;
	right: 12px !important;
	transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1);

	.login-designer-event-button:before {
		color: #fff;
		box-shadow: none;
		font: 400 19px/72px dashicons;
		content: "\f111";
		position: absolute;
		right: 0.13em;
		text-shadow: 0 -1px 1px #007ab6, 1px 0 1px #007ab6, 0 1px 1px #007ab6, -1px 0 1px #007ab6;
		top: .15em;
		height: 20px;
		width: 20px;
		line-height: 20px;
	}

	.customize-settings & {
		transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1) 150ms;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
	}
}

.customize-partial--login-designer-template {
	left: 42px !important;
	top: 46px !important;
	// transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1);

	.login-designer-event-button:before {
		color: #fff;
		box-shadow: none;
		font: 400 18px/72px dashicons;
		content: "\f105";
		position: absolute;
		right: 0.13em;
		text-shadow: 0 -1px 1px #007ab6, 1px 0 1px #007ab6, 0 1px 1px #007ab6, -1px 0 1px #007ab6;
		top: .15em;
		height: 20px;
		width: 20px;
		line-height: 20px;
	}

	// .customize-templates & {
	// 	transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1) 150ms;
	// 	pointer-events: none;
	// 	opacity: 0;
	// 	visibility: hidden;
	// }
}

.customize-partial--login-designer-add-logo {
	left: 0;
	right: 0;
	top: -35px;
	margin: 0 auto;

	.login-designer-event-button {
		left: -15px;
	}

	.login-designer-event-button:before {
		color: #fff;
		box-shadow: none;
		font: 400 16px/72px dashicons;
		content: "\f128";
		position: absolute;
		right: 0.19em;
		text-shadow: 0 -1px 1px #007ab6, 1px 0 1px #007ab6, 0 1px 1px #007ab6, -1px 0 1px #007ab6;
		top: .17em;
		height: 20px;
		width: 20px;
		line-height: 20px;
	}
}

.customize-partial--loginform {
	top: 0 !important;
	left: -10px !important;

	.login-designer-template-01 & {
		left: 12px !important;
		top: 10px !important;

		button {
			left: 0;
		}

	}
}


.has-template-applied .customize-partial-edit-shortcut button {
	animation-name: x !important;
	opacity: 1 !important;
}

.customize-partial--login-designer-background,
.customize-partial--login-designer-template {

	.login-designer-template-01 & {
		left: calc( 580px + 42px ) !important;
	}
}


.login-designer-template-01 {

	#loginform {
		background: transparent !important;
		position: initial;
	}
}


.login-designer-template-02 {

	#loginform {
		background: transparent !important;
	}
}


.customize-partial--login-designer-background {
	top: 10px !important;
	left: 42px !important;
}

.hidden {
	display: none !important;
}

// Background
#login-designer-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1);

	&.transitioning {
		opacity: 0;
	}

	// .has-template-applied & {
	// 	transition: opacity 0;
	// }
}

// Accessibility
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 0;
	overflow: hidden;
	position: absolute !important;
	width: 0;
	word-wrap: normal;
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.screen-reader-text:focus {
	border-radius: 3px;
	clip: auto;
	display: block;
	font-size: 15px;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 0.9375rem;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

#wp-a11y-speak-polite {
	display: none;
}

// Logo.
#login-designer-logo {

	&:focus {
		box-shadow: none;
	}
}

#login-designer-logo-h1 {
	margin: 0 auto;
	width: 84px;
}

// Positioning.
#loginform,
#login-designer-logo-h1,
#login-designer--username,
#login-designer--password {
	position: relative;
}

// Fields.
#login-designer--username,
#login-designer--password {
	border-width: 2px;
	margin-bottom: 16px;

	input {
		margin-bottom: 0;
	}

	.customizer-event-overlay {
		border: 0;
		bottom: 0;
		left: 0;
		right: 0;
		top: 2px;
		width: 100%;
		opacity: 0 ! important;
		transition: opacity 100ms cubic-bezier(0.33,0,0.2,1), background 100ms cubic-bezier(0.33,0,0.2,1);
	}

	&:hover,
	#loginform.input-hover & {

		.customizer-event-overlay {
			opacity: 1 !important;
			background: rgba(0, 167, 233, 0.11) !important;
		}
	}
}

// Labels.
#login-designer--username-label,
#login-designer--password-label {
	position: relative;

	&:hover,
	#loginform.label-hover & {
		color: $customizer_blue !important;
	}

	.customizer-event-overlay {
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		width: calc( 100% + 4px);
		border: 0 ! important;
		opacity: 0 ! important;
	}
}

// Buttons.
#login-designer--button {
	position: relative;
	float: right;

	.customizer-event-overlay {
		border: 0 !important;
		border-radius: 3px;
		bottom: -3px;
		left: -3px;
		opacity: 1 !important;
		right: -3px;
		top: -3px;
		width: calc( 100% + 7px);
		z-index: 99999;
		transition: opacity 100ms cubic-bezier(0.33,0,0.2,1), background 100ms cubic-bezier(0.33,0,0.2,1);
	}

	&:hover {

		.customizer-event-overlay {
			opacity: 1 !important;
			background: rgba(0, 167, 233, 0.2) !important;
		}
	}
}

.customizer-event-overlay {
	background: transparent;
	border: 2px solid transparent;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 100%;
	z-index: 22;
	transition: border-color 100ms cubic-bezier(0.33,0,0.2,1);

	&:hover,
	&:focus {
		border-color: $customizer_blue;
		outline: none;
	}
}
