body.login-designer-template-02 {

	&,
	&.has-template-applied {
		background: blue;
	}
}









// Text meant only for screen readers.
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	height: 0;
	overflow: hidden;
	position: absolute !important;
	width: 0;
	word-wrap: normal;

	&:focus {
		font-size: 15px;
		border-radius: 3px;
		clip: auto;
		display: block;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 0.9375rem;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

#wp-a11y-speak-polite {
	display: none;
}

#loginform,
#login-designer-logo-h1,
#login-designer--username,
#login-designer--password {
	position: relative;
}

#login-designer--username,
#login-designer--password {
	margin-bottom: 16px;

	input {
		margin-bottom: 0;
	}

	.customizer-event-overlay {
		top: 2px;
	}

}


#login-designer-logo {

	&:focus {
		box-shadow: none;
	}
}

.login form {
	overflow: visible;
}


#loginform {

	.customizer__border {
		display: none !important;
		background-color: #0073aa;
		height: 1px;
		opacity: 0;
		position: absolute;
		width: 100%;
		z-index: 99999;

		&-btm {
			bottom: 0;
			left: 0;
		}

		&-top {
			top: 0;
			left: 0;
		}

		&-left {
			bottom: 0;
			left: 0;
			top: 0;
			height: 100%;
			width: 1px;
		}

		&-right {
			bottom: 0;
			right: 0;
			top: 0;
			height: 100%;
			width: 1px;
		}

	}

	&:hover > .customizer__border {
		opacity: 1;
	}

	.customizer-editlayout-button {
		background: #0073aa;
		color: #fff;
		border: 0;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		left: 0;
		line-height: 0;
		opacity: 0;
		outline: none;
		padding: 12px 10px;
		pointer-events: none;
		position: absolute;
		top: 0;
		z-index: 99999;
		transition: opacity 200ms cubic-bezier(0.33,0,0.2,1) 50ms;

		// &::before {
		// 	content: "\f464";
		// 	display: inline-block;
		// 	font-smoothing: antialiased;
		// 	font: 400 22px/24px dashicons;
		// 	vertical-align: top;
		// 	color: #0073aa;
		// 	transform: scale(.6) translate3d(0, 0, 0);
		// 	transition: opacity 100ms cubic-bezier(0.33,0,0.2,1) 200ms, transform 250ms cubic-bezier(0.33,0,0.2,1) 50ms;
		// }

		&:hover,
		&:focus {

		}

		&:hover::before {
			color: #0085ba;
		}
	}

	&:hover > .customizer-editlayout-button {
		opacity: 1;
		pointer-events: auto;
	}

	// &:hover > .customizer-editlayout-button:before {
	// 	transform: scale(1) translate3d(0, 0, 0);
	// }

}


$space: -12px;

// Specific to the login form.
// #loginform {

// 	.customizer__border {

// 		&-btm {
// 			bottom: $space;
// 			left: $space;
// 			width: calc( 100% + 24px );
// 		}

// 		&-top {
// 			top: $space;
// 			left: $space;
// 			width: calc( 100% + 24px );
// 		}

// 		&-left {
// 			bottom: $space;
// 			left: $space;
// 			top: $space;
// 			height: calc( 100% + 24px );
// 		}

// 		&-right {
// 			bottom: $space;
// 			right: $space;
// 			top: $space;
// 			height: calc( 100% + 24px );
// 		}

// 	}

// 	.customizer-editlayout-button {
// 		left: $space;
// 		top: $space;
// 	}

// }



#loginform p {
	z-index: 44;
}


.hide-customize-borders {

	.customizer-editlayout-button {
		opacity: 0 !important;
		transition: opacity 50ms cubic-bezier(0.33,0,0.2,1);
	}

}

#loginform.hide-customize-borders::after {
	opacity: 0 !important;
	transition: opacity 50ms cubic-bezier(0.33,0,0.2,1), border-width 75ms ease-in-out 75ms;
}

.is-customize-preview {

    #loginform::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        // z-index: -1;
        opacity: 0;
        bottom: 0;
        right: 0;
        border: 0 solid #0073aa;
        transition: opacity 200ms cubic-bezier(0.33,0,0.2,1) 50ms, border-width 75ms ease-in-out 75ms;
    }

    #loginform:hover::after {
    	border-width: 2px;
        opacity: 1;
    }

}






.customizer-event-overlay {
	background: transparent;
	border: 1px solid transparent;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 100%;
	z-index: 22;
	transition: opacity 200ms cubic-bezier(0.33,0,0.2,1) 50ms, border 75ms ease-in-out 75ms;

	&:hover,
	&:focus {
		border-width: 2px;
		border-color: #0073aa;
		outline: none;
	}
}














