#sub-accordion-section-login_designer__section--styles,
#sub-accordion-section-login_designer__section--settings {

	.customize-control-color {
		position: relative;

		.customize-control-title {
			line-height: 20px;
			margin: 0;
		}

		label {
			cursor: default;
		}

		.wp-picker-container {

			&,
			.iris-picker {
				width: 100% !important;
			}
		}

		.wp-picker-container.wp-picker-active {
			margin-top: -22px;
			margin-bottom: 7px;
		}

		.wp-picker-open+.wp-picker-input-wrap {
			background: $background;
		}

		.wp-color-result-text {
			display: none;
		}

		.wp-color-result {
			position: absolute;
			right: -1px;
			top: -1px;
			margin: 0;
			border-width: 0;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
			transition: box-shadow $range--opacity-speed $range--opacity-cubic;

			&:hover {
				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
			}
		}
	}
}
