#sub-accordion-section-loginly__section--styles {

	.customize-control-color {
		position: relative;

		.customize-control-title {
			font-weight: normal;
			margin: 0;
		}

		.customize-control-content {
			margin-bottom: -20px;
		}

		label {
			cursor: default;
		}
	
		.wp-picker-container {

			&,
			.iris-picker {
				width: 100% !important;
			}
		}

		.wp-picker-holder {
			position: absolute;
			top: 30px;
			width: 100%;
			z-index: 99999;
		}

		.wp-picker-open+.wp-picker-input-wrap {
			background: #eee;
			position: absolute;
			top: 7px;
		}

		.wp-color-result {
			border-radius: 100%;
			box-shadow: 0 0 0!important;
			height: 20px;
			margin: 0;
			padding-left: 20px;
			position: absolute;
			right: 0;
			top: 2px;

			&:hover,
			&:focus {
				border: 1px solid rgba(0, 0, 0, 0.3);
			}

			&::after {
				display: none;
			}
		}
	}
}