#login-designer-reset {
	opacity: 0;
	visibility: hidden;
	margin-top: 9px;
	pointer-events: none;
	transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1) 150ms;

	.style-editor-open & {
		transition: opacity 150ms cubic-bezier(0.694, 0, 0.335, 1), visibility 0ms cubic-bezier(0.694, 0, 0.335, 1);
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
	}
}