.customize-control-login-designer-gallery .customize-control-description {
	display: none;
}

#customize-control-login_designer_bg_image {
	max-height: 160px;
	overflow-y: hidden;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

#customize-control-login_designer_bg_image.gallery-is-open {
	margin: 0 !important;
	max-height: 0;
}

#customize-control-login_designer_bg_image .button.upload-button.control-focus {
	display: none;
}

#customize-control-login_designer_bg_image .button.remove-button {
	background: #0085ba !important;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0 2px 1px rgba(46, 68, 83, 0.15);
	color: #0085ba !important;
	height: 30px !important;
	margin: 0 !important;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 30px !important;
}

#customize-control-login_designer_bg_image .button.remove-button:hover {
	background: #008ec2 !important;
}

#customize-control-login_designer_bg_image .button.remove-button::after {
	color: #fff;
	content: "\f335";
	font: 400 19px/72px dashicons;
	position: absolute;
	right: 3px;
	top: -23px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#customize-control-login_designer_bg_image_gallery.gallery-is-open {
	margin-top: -13px !important;
}

#gallery-button {
	margin-bottom: 10px;
	margin-top: -10px;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

.gallery-is-open #gallery-button {
	margin-bottom: 10px;
	margin-top: 9px;
}

#login-designer-gallery {
	max-height: 0;
	overflow-y: hidden;
	padding-top: 5px;
	-webkit-transition: all 300ms ease 100ms;
	transition: all 300ms ease 100ms;
}

#login-designer-gallery.open {
	max-height: 140px;
}

.gallery__item {
	float: left;
	width: 20%;
}

.gallery {
	margin-left: -3px;
	width: calc( 100% + 6px);
}

.checkbox {
	display: none !important;
}

.gallery--intrinsic {
	border: 2px solid #eee;
	border-radius: 2px;
	box-shadow: 0 0 0 0 #5b9dd9, 0 0 0 0 rgba(30, 140, 190, 0.8);
	display: block;
	line-height: 0;
	margin-bottom: 0;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 2px;
	overflow: hidden;
	position: relative;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

@media screen and (min-width: 1667px) {
	.gallery--intrinsic {
		margin-bottom: 6px;
		margin-right: 3px;
		margin-right: 3px;
	}
}

#login-designer-gallery.open .checkbox:checked + label .gallery--intrinsic {
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.gallery--intrinsic:after {
	content: "";
	display: block;
	padding-top: 100%;
}

@-webkit-keyframes portfolio_pro_likes_animation {
	0% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(1.05) translate3d(0, 0, 0);
		transform: scale(1.05) translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes portfolio_pro_likes_animation {
	0% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(1.05) translate3d(0, 0, 0);
		transform: scale(1.05) translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
}

.gallery--img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2px;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.checkbox:checked + label .layout-screenshot {
	background-color: #fff;
}

.checkbox:checked + label {
	border-color: #0085ba;
}
