#customize-control-loginly_custom_logo {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 17px;
}

#sub-accordion-section-loginly__section--styles .customize-control-image {
	margin-bottom: 15px;
	position: relative;
}

#sub-accordion-section-loginly__section--styles .customize-control-image .placeholder {
	display: none;
}

#sub-accordion-section-loginly__section--styles .customize-control-image button:not(.control-focus):not(.remove-button) {
	background: transparent;
	border: 1px dashed #b4b9be;
	border-radius: 0;
	box-shadow: none;
	padding: 5px 0;
	width: 100%;
}

#sub-accordion-section-loginly__section--styles .customize-control-image button:not(.control-focus):not(.remove-button):hover {
	color: #0073aa;
}

#sub-accordion-section-loginly__section--styles .customize-control-image button:not(.control-focus):not(.remove-button):active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
