.customize-partial--loginform {
	left: -10px !important;
	top: 0 !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 0;
	overflow: hidden;
	position: absolute !important;
	width: 0;
	word-wrap: normal;

	-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.screen-reader-text:focus {
	border-radius: 3px;
	clip: auto;
	display: block;
	font-size: 15px;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 0.9375rem;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

#wp-a11y-speak-polite {
	display: none;
}

#loginform,
#login-designer-logo-h1,
#login-designer--username,
#login-designer--password {
	position: relative;
}

#login-designer--username,
#login-designer--password {
	margin-bottom: 16px;
}

#login-designer--username input,
#login-designer--password input {
	margin-bottom: 0;
	-webkit-transition: border-color 50ms cubic-bezier(0.33, 0, 0.2, 1);
	transition: border-color 50ms cubic-bezier(0.33, 0, 0.2, 1);
}

#login-designer--username .customizer-event-overlay,
#login-designer--password .customizer-event-overlay {
	border: 0;
	opacity: 0 !important;
	top: 2px;
}

#login-designer--username:hover input,
#login-designer--password:hover input {
	border-color: #0085ba;
}

#login-designer--username:hover .customizer-event-overlay,
#login-designer--password:hover .customizer-event-overlay {
	background: rgba(0, 167, 233, 0.05);
	opacity: 1 !important;
}

#login-designer-logo:focus {
	box-shadow: none;
}

#loginform p {
	z-index: 44;
}

.hide-customize-borders .customizer-editlayout-button {
	opacity: 0 !important;
	-webkit-transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1);
	transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1);
}

#loginform.hide-customize-borders::after {
	opacity: 0 !important;
	-webkit-transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1), border-width 75ms ease-in-out 75ms;
	transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1), border-width 75ms ease-in-out 75ms;
}

.customizer-event-overlay {
	background: transparent;
	border: 2px solid transparent;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	-webkit-transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1);
	transition: opacity 50ms cubic-bezier(0.33, 0, 0.2, 1);
	width: 100%;
	z-index: 22;
}

.customizer-event-overlay:hover,
.customizer-event-overlay:focus {
	border-color: #0085ba;
	outline: none;
}
