.customize-control-login-designer-title {
	margin-top: 25px;
	-webkit-transition: margin 200ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: margin 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.customize-control-login-designer-title.is-active {
	margin-top: 0;
}

.customize-control-login-designer-title + .customize-control-image {
	margin-top: -7px;
}

.customize-control-login-designer-title .customize-control-title {
	font-weight: 600 !important;
}

.accordion-section-content li.customize-control:nth-child(2) {
	margin-top: 0;
}
