.customize-control-login-designer-title#customize-control-login_designer[field_text_title] {
	margin-top: 15px !important;
}

.customize-control-login-designer-title + .customize-control-image {
	margin-top: -7px;
}

.customize-control-login-designer-title .customize-control-title {
	font-weight: 600 !important;
}
