// Variables.
@import "variables";

.customize-control-login-designer-template-selector {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;

	label {
		border: 1px solid transparent;
		cursor: pointer;
		display: block;
		margin: 0 0 8px;
		border-radius: 2px;
		box-shadow: 0 0 0 0 #5b9dd9, 0 0 0 0 rgba(30, 140, 190, .8);
		transition: border-color 0.2s, box-shadow 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955), transform 250ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	}

	.layout {
		display: none !important;
	}

	.description {
		transform: translate3d(0, 0, 0);
	}

	#layout-switcher {
		width: 100%;
	}

	.layout-switcher__wrapper {
		margin-left: -2px;
		width: calc( 100% + 1px );
		margin-top: 13px;
	  	overflow-y: scroll;
		padding-right: 20px;
		padding-top: 4px;
		padding-left: 2px;
	}
	.intrinsic {
		overflow: hidden;
		line-height: 0;
		margin-bottom: 0;
		position: relative;
	}

	.intrinsic:after {
		content: "";
		display: block;
		padding-top: 70.4%;
	}

	.layout-screenshot {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 2px solid #eee;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	label:hover {
		box-shadow: 0 0 0 1px #5b9dd9, 0 0 3px rgba(0, 115, 170, .8);
	}

	.layout:checked + label {
		animation: scale_click 250ms;
	}

	.layout:checked + label {
		box-shadow: 0 0 0 1px #5b9dd9, 0 0 3px rgba(0, 115, 170, .8);
	}

	@keyframes scale_click {
		0% {
			transform: scale(1) translate3d(0, 0, 0);
		}
		50% {
	  		transform: scale(.98) translate3d(0, 0, 0);
		}
		100% {transform: scale(1) translate3d(0, 0, 0);};
	}
}
