// Variables.
@import "variables";

.customize-control-toggle {

	.toggle-wrapper {
		display:flex;
		flex-direction: row;
		justify-content: flex-start;

		.customize-control-title {
			flex: 2 0 0;
			vertical-align: middle;
		}

		input[type=checkbox] {
			display: none;
		}

		label {
			background-color: #555d66;
			border-radius: 14px;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			outline: none;
			position: relative;
			top: 2px;
			transition: background 0.2s ease;
			user-select: none;
			width: 40px;

			&::after,
			&::before {
				display: block;
				position: absolute;
				content: "";
			}

			&::after {
				box-sizing: border-box;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
				border: 2px solid #555d66;
				border-radius: 50%;
				transition: transform 0.2s ease, background 0.2s ease;
			}

			&::before {
				top: 2px;
				left: 2px;
				bottom: 2px;
				right: 2px;
				background-color: $background;
				border-radius: 60px;
				transition: background 0.2s ease;
			}
		}

		input[type=checkbox]:checked + label {
			background-color: $customizer_blue;

			&::after {
				transform: translateX(20px);
				background-color: $customizer_blue;
				border: 2px solid $white;
			}

			&::before {
				background-color: $customizer_blue;
			}
		}
	}

	&:hover .toggle-wrapper label::before {
		background-color: #d9dcdf;
	}
}